.chatwindow {
    position: relative;
    width: 67.5vw;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    top: -97.5vh;
    background-color: lightgray;
  }
  
  .chatMsg {
    padding: 20px;
  }
  
  .messageWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .message {
    padding: 10px;
    color: #fff;
    max-width: 70%;
  }
  
  .current-user {
    background-color: blue;color: white;
    align-self: flex-end;
    border-radius: 20px 0px 20px 20px;
  }
  
  .other-user {
    background-color: white;color: black;
    align-self: flex-start;
    border-radius: 0px 20px 20px 20px;
  }
  
  .time {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
    align-self: flex-end;
  }
  .time2 {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
    align-self: flex-start;
  }
  .copy{
    background-color: white;
    border: none;
  }
  .container {
    position: sticky;
    bottom: 34px;
    left: 0;
    right: 0;
    margin-top: 60vh;
  }
  
  .fields {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 60vw;
  }
  
  .input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 10px;
    height: 30px;
  }
  
  .audio {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: blue;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .encryptmsg{
    background-color: gray;
    width: 190px;
    margin: auto;
    border-radius: 10px;
    color: lightgray;
  }