.chatwindow{
    width: 67.5vw;
    height: 90vh;
    bottom: -5px;
    background-color: red;
    position: absolute;
    overflow-y: scroll;
    left:-835px
    
}
.input{
    
    margin-left: 40px;
    margin-bottom: 20px;
    width: 55vw;
    height: 5vh;
    border: 2px solid white;
    border-radius: 10px;

}
.fields{
    position: absolute;
    bottom: 0;
}
.audio{
    border-radius: 50%;
    margin-left: 20px;
    background-color: blue;
    color: white;
    border-color: blue;
}
.message{
    background-color: blue;
    float: left;
    width: auto;
    height: 50px;
    margin: 10px 15px;
    border-radius: 5px;
    padding: 5px;
    /* position: relative; */
}
.msg{
    color: white;
    margin-top: 15px;
}

.time{
    color: white;
    
}
/* .msgwrapper{
    background-color: red;
    float: left;
    width: auto;
    height: 54px;
    margin: 10px 15px;
    border-radius: 5px;
    
} */