.navbar{
    height: 10%;
    width: 100%;
    background-color: white;
}
.header{
    float: left;
    margin-top: -50px;
}
.header>h2{
    margin-left: -30px;
}
.header > p{
    color: gray;
    margin-top: -20px;
    margin-left: 30px;
    font-size: x-small;
}
.desc{
    color: gray;
    font-size: x-small;
    float: left;
    margin: 40px -150px;
}