.sidebar {
    width: 30vw;
    height: 100vh;
    float: right;
    background-color: white;
    margin-top: -45px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .name {
    float: left;
    margin-left: 640px;
    height: 8vh;
    margin-top: -25px;
  }
  
  .create {
    float: right;
    margin-top: -30px;
    margin-right: -23px;
    background-color: blue;
    border: 0.5px solid gray;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  .create:hover{
    color: black;
    background-color: white;
  }
  .heading {
    height: 20vh;
    margin-top: -90px;
    margin-right: 40px;
  }
  .chatnames {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }
  
  .chatnames>div:hover{
    background-color: lightgray;
  }
  



  





  .chatnames > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    text-align: left;
  }
  
  
  .chatnames h3.title {
    margin: 0;padding: 10px;
    cursor: pointer;
    text-align: left;
  }
  
  .chatnames .box {
    margin-left: 90px;
  }
   
  /* .chatnames {
    
    margin-top: 15px;
  }
  
  .title
 {
    
    cursor: pointer;
    float: left;
    
    margin-top: 15px;
    margin-left: -110px;
    
  }
  .title:hover{
    color: lightgray;
  }
  .box{
    float: right;
    
  } */
  .edit {
    margin-top: 20px;
    margin-right: 25px;
    float: right;
  }
  


   