.sidebar{
    width: 30vw;
    height: 100vh;
    /* border-left: 0.5px solid gray; */
    float: right;
    background-color: white;
    position: relative;
    margin-top: -65px;
}
.name{
    float: left;
    margin-left: 10px;
    height: 10vh;
}
.create{
    float: right;
    margin: 25px 25px;
}
.heading
{
    height: 10vh;
}
.chatnames{
    width: 30vw;
    height: 10vh;
    border-bottom: 0.5px solid lightgray;
}
.title{
    margin-right: 170px;
    /* float: left; */
    display: inline-block;


}
.edit{
    margin-top: 20px;
    margin-right: 25px;
    float: right;
}