.chatnames{
    position: relative;
    width: 30vw;
    height: 10vh;
    border-bottom: 0.5px solid lightgray;
    
}
.title{
    position: absolute;
    bottom: 3px;
}
.edit{
    position: absolute;
    margin-left: 110px;
}
.inputTitle{
    border: 2px solid red;
}
.editWrapper{
    background-color: blue;
    height: 10vh;
    width: 30vw;
}